security:
    encoders:
        App\Entity\User:
            algorithm: native
    providers:
        user:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            provider: user
            user_checker: App\Security\LoginableChecker
            entry_point: App\Security\Authenticator\LoginFormAuthenticator
            guard:
                authenticators:
                    - App\Security\Authenticator\LoginFormAuthenticator
                    - App\Security\Authenticator\GoogleAuthenticator
                    - App\Security\Authenticator\GitHubAuthenticator
            logout:
                path: logout
                target: conferences_list

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin, roles: ROLE_USER }
        - { path: ^/admin/?entity=User, roles: ROLE_ADMIN }

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
