parameters:
    level: 6
    paths:
        - src
        - castor.php
    excludePaths:
        - 'src/Factory'
    scanFiles:
        - .castor.stub.php
    scanDirectories:
        - .castor
    tmpDir: tools/phpstan/var
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false

    symfony:
       container_xml_path: '%rootDir%/../../../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    typeAliases:
        ContextData: '''
            array{
                project_name: string,
                root_domain: string,
                extra_domains: string[],
                project_directory: string,
                php_version: string,
                docker_compose_files: string[],
                macos: bool,
                power_shell: bool,
                user_id: int,
                root_dir: string,
                env: string,
                composer_cache_dir: string,
            }
        '''
