includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludes_analyse:
        - 'src/Factory'
    tmpDir: var/phpstan-tmp
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: var/phpstan-utilities/console-application.php

    doctrine:
        objectManagerLoader: var/phpstan-utilities/object-manager.php
