{% if item.online %}
    <div class="country-flag">Online</div>
{% else %}
    <img class="country-flag" alt="{{ country_name }} flag" title="{{ country_name }}" src="/bundles/easyadmin/images/flags/{{ value }}.png">
{% endif %}
