<strong>{{ notification.emitter }}</strong> added a submit for you.
See it here : <a href="{{ path(notification.submit.status ~ '_submits', { highlight: notification.submit.id }) }}" class="text-primary">See submit</a>
