.stars, .stars-lg {
    z-index: -1;
    position: absolute;
    opacity: 0.3;
    width: 2000px;
    min-height: 1000px;
    height: 100%;
    left: calc(50% - 1000px);
    top: -220px;
    transform-origin: center;
    background: url("../images/stars-sm.svg") center/800px auto repeat;
}

.stars-lg {
    opacity: 0.2;
    background: url("../images/stars-lg.svg") center/1100px auto repeat;
    animation: 10s pulse infinite linear;
}

.shooting-star {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: rotate(30deg);
    pointer-events: none;
}

.shooting-star img {
    opacity: 0;
    animation-delay: 0;
    animation: shooting-star 6s infinite ease-out;
}

.shooting-star-right {
    position: absolute;
    left: 80%;
    top: 80%;
    width: 130px;
    transform: rotate(-235deg);
    pointer-events: none;
}

.shooting-star-right img {
    opacity: 0;
    animation: shooting-star 6s 3s infinite ease-out;
    animation-delay: 3s;
    animation-delay: 2.5s;
}

@keyframes shooting-star {
    0% {
        opacity: 1;
        transform: scale(0) translate3d(0, 0, 0)
    }
    15% {
        opacity: 1
    }
    25% {
        opacity: 0;
        transform: scale(1) translate3d(180px, 0, 0)
    }
    100% {
        opacity: 0;
        transform: scale(0) translate3d(180px, 0, 0)
    }
}

@keyframes pulse {
    0% {
        opacity: 0.2
    }
    50% {
        opacity: 0.6
    }
    100% {
        opacity: 0.2
    }
}
