a:hover {
    text-decoration: underline #007bff .1em;
}

.lr-100 {
    left: 0;
    right: 0;
}

.color-cancel {
    color: #d97817;
}

.color-accept, .color-accepted {
    color: #28A745;
}

.color-done {
    color: #09bdb4;
}

.color-reject, .color-rejected {
    color: #e20b21;
}

.color-pending {
    color: #ebb001;
}

.color-edit {
    color: #007bff;
}

.bg-edit {
    background-color: #007bff;
}

.user_menu a div.btn {
    margin-right: .3rem;
}

.user-list {
    margin-bottom: .5rem;
    width: 100%;
    padding: .5rem;
    border: rgba(0, 0, 0, 0.125) 1px solid;
    border-radius: .35rem;
    background-color: #FFFFFF;
}

.w-33 {
    width: 33%;
}

.w-30 {
    width: 30%;
}

.indent-50 {
    text-indent: 50px;
}

.justify-self-end {
    justify-self: end;
}

.submit-status {
    margin-right: 1rem;
    border-right: 1px solid rgb(180, 177, 177);
    width: 12%;
    text-align: center;
}

.submit-status {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    border-right: 1px solid rgb(180, 177, 177);
    width: 12%;
    text-align: center;
}

.profile-form-block {
    margin: .5rem;
    padding: 1rem;
    border-radius: .35rem;
    background-color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.125);
    flex-grow: 1;
}
.mx--30 {
    margin-left: -30px;
    margin-right: -30px;
}

.highlight {
    border: 1px #ebb001 solid;
    width: 80% !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(235,176,1,0.36);
    box-shadow: 0px 0px 5px 0px rgba(235,176,1,0.36);
}
