.lr-100 {
    left: 0;
    right: 0;
}

.color-cancel {
    color: #d97817;
}

.color-accept, .color-accepted {
    color: #28A745;
}

.color-done {
    color: #09bdb4;
}

.color-reject, .color-rejected {
    color: #e20b21;
}

.color-pending {
    color: #ebb001;
}

.color-edit {
    color: #007bff;
}

.bg-edit {
    background-color: #007bff;
}

.user_menu a div.btn {
    margin-right: .3rem;
}

.user-list {
    margin-bottom: .5rem;
    width: 100%;
    padding: .5rem;
    border: rgba(0, 0, 0, 0.125) 1px solid;
    border-radius: .35rem;
    background-color: #FFFFFF;
}

.w-33 {
    width: 33%;
}

.indent-50 {
    text-indent: 50px;
}

.justify-self-end {
    justify-self: end;
}

.submit-status {
    margin-right: 1rem;
    border-right: 1px solid rgb(180, 177, 177);
    width: 12%;
    text-align: center;
}
