{% set badgeClasses = {
    'pending': 'info',
    'accept': 'success',
    'reject': 'danger',
    'cancel': 'warning',
} %}

<span class="badge badge-{{ badgeClasses[value] }}">
    {{ value|trans }}
</span>
