{% set badgeClasses = {
    'pending': 'info',
    'accepted': 'success',
    'rejected': 'danger',
    'cancelled': 'warning',
} %}

<span class="badge badge-{{ badgeClasses[value] }}">
    {{ value|trans }}
</span>
