<footer class="bg-purple text-light">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 text-center pt-4">
                <small class="text-muted">Made with ❤️  by <a href="https://jolicode.com" target="_blank">JoliCode</a> - {{ 'now'|date('Y') }}</small>
                <br>
                <blockquote class="text-muted">
                    <small>The mission of Starfleet: to explore internet; to seek out new conferences; to bring them into Slack and allow your colleagues submit talk proposals</small>
                </blockquote>
            </div>
        </div>
    </div>
</footer>
