<header class="container">
    <nav class="navbar bg-purple navbar-dark justify-content-center justify-content-md-between">
        <div class="c-logo">
            <img src="{{ asset('build/images/logo.svg') }}"
                 width="86"
                 height="86"
                 alt="">
            <h1 class="h2 mb-0 ml-3">
                <a href="{{ path('conferences_list') }}" class='c-logo__link'>Starfleet</a>
            </h1>
            <span class="c-logo__badge badge badge-light ml-3">beta</span>
        </div>
        <p class="mb-0 text-light">
            <a href="https://jolicode.com" target="_blank">
                <img src="{{ asset('build/images/logo-jolicode.svg') }}"
                     width="180"
                     height='42'
                     alt="JoliCode">
            </a>
        </p>
    </nav>
</header>
