<div class="alert alert-info text-left" role="alert">
    This is the real Starfleet instance of JoliCode. If you want to try Starfleet, feel free to <a href="mailto:msantostefano@jolicode.com">contact us</a>
</div>
