{% extends 'user/user_layout.html.twig' %}

{% block content %}
    {% set section = 'homepage' %}
    <section class="col-lg-8 mx-auto">
        {{ parent() }}
        {% if chart %}
            {{ render_chart(chart) }}
        {% else %}
            <p class="text-center">
                <em>You seem to be quite new around here... Nothing to display yet !</em>
            </p>
        {% endif %}
    </section>
{% endblock %}
